# Byte-compiled / optimized
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
env/
venv/

# Poetry
.poetry/
poetry.lock

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Logs
*.log

# Test output
htmlcov/
.coverage

# Outputs
frames_selected/
val_frames/